@charset "UTF-8";

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(90deg, #0CABA8, #008F8C);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2B3A42;
    width: 600px;
    padding: 20px;
    margin:auto
}

h1 {
    color: #023535;
    text-align: center;
    text-shadow: 1px 1px 0px  #012525ee;
}

h2 {
    color: #015958;
} 